<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lesson">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.TestActivity"></activity>
        <activity android:name=".Activities.HelloWorldActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.QuestionsActivity" />
        <activity android:name=".Activities.QuestionActivity" />
        <activity android:name=".Activities.LessonActivity" />
        <activity android:name=".Activities.ActivitiesActivity" />
        <activity android:name=".Activities.LessonActivitiesActivity" />
        <activity android:name=".Activities.ActivityActivity" />
        <activity android:name=".Activities.MainActivity" />
        <activity android:name=".Activities.MessagesActivity" />
        <activity android:name=".Activities.MylessonsActivity" />
        <activity android:name=".Activities.SearchLessonActivity" />
        <activity android:name=".Activities.SearchMessageActivity" />
    </application>

</manifest>